// Colours
$primary: #6d52cfce;
$info: rgb(243, 243, 243);
$footer: rgb(185, 185, 185);

// GoogleFonts - Dosis
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500;600;700&display=swap');
// Base background color
html,
body {
    background-color: $info;
    font-family: 'Dosis', sans-serif;
}

#app {
    font-family: 'Dosis', sans-serif;
}

// Import Bootstrap and BootstrapVue SCSS files (order is important)
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/bootstrap-vue/src/index.scss';